/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/
*,:after,:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb
}

:after,:before {
  --tw-content: ""
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal
}

body {
  margin: 0;
  line-height: inherit
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

b,strong {
  font-weight: bolder
}

code,kbd,pre,samp {
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

button,input,optgroup,select,textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}

button,select {
  text-transform: none
}

[type=button],[type=reset],[type=submit],button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}

:-moz-focusring {
  outline: auto
}

:-moz-ui-invalid {
  box-shadow: none
}

progress {
  vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

summary {
  display: list-item
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
  margin: 0
}

fieldset {
  margin: 0
}

fieldset,legend {
  padding: 0
}

menu,ol,ul {
  list-style: none;
  margin: 0;
  padding: 0
}

textarea {
  resize: vertical
}

input::-moz-placeholder,textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af
}

input::placeholder,textarea::placeholder {
  opacity: 1;
  color: #9ca3af
}

[role=button],button {
  cursor: pointer
}

:disabled {
  cursor: default
}

audio,canvas,embed,iframe,img,object,svg,video {
  display: block;
  vertical-align: middle
}

img,video {
  max-width: 100%;
  height: auto
}

[hidden] {
  display: none
}

*,:after,:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia:
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia:
}

.container {
  width: 100%
}

@media (min-width: 320px) {
  .container {
      max-width:320px
  }
}

@media (min-width: 350px) {
  .container {
      max-width:350px
  }
}

@media (min-width: 575px) {
  .container {
      max-width:575px
  }
}

@media (min-width: 768px) {
  .container {
      max-width:768px
  }
}

@media (min-width: 960px) {
  .container {
      max-width:960px
  }
}

@media (min-width: 1024px) {
  .container {
      max-width:1024px
  }
}

@media (min-width: 1200px) {
  .container {
      max-width:1200px
  }
}

@media (min-width: 1300px) {
  .container {
      max-width:1300px
  }
}

@media (min-width: 1400px) {
  .container {
      max-width:1400px
  }
}

@media (min-width: 1440px) {
  .container {
      max-width:1440px
  }
}

@media (min-width: 1600px) {
  .container {
      max-width:1600px
  }
}

@media (min-width: 1920px) {
  .container {
      max-width:1920px
  }
}

body {
  font-family: Inter,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(51 51 51/var(--tw-text-opacity))
}

a,body {
  --tw-text-opacity: 1
}

a {
  cursor: pointer;
  color: rgb(8 116 231/var(--tw-text-opacity));
  text-decoration-line: none
}

a:hover {
  text-decoration-line: underline
}

.scrollbar::-webkit-scrollbar {
  width: 12px
}

.scrollbar::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(204 204 204/var(--tw-bg-opacity))
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: hsla(0,0%,40%,.6)
}

.btn {
  border-radius: 108px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(70 100 220/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(70 100 220/var(--tw-bg-opacity));
  padding: 8px 20px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s
}

.btn--sm {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 16px
}

.btn--lg {
  padding: 12px 28px;
  font-size: 18px;
  line-height: 24px
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0
}

.pointer-events-none {
  pointer-events: none
}

.visible {
  visibility: visible
}

.invisible {
  visibility: hidden
}

.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.-left-full {
  left: -100%
}

.-right-custom-huge {
  right: -96px
}

.-right-custom-x-big {
  right: -24px
}

.-right-full {
  right: -100%
}

.bottom-0 {
  bottom: 0
}

.bottom-\[-24px\] {
  bottom: -24px
}

.bottom-\[14px\] {
  bottom: 14px
}

.bottom-\[16px\] {
  bottom: 16px
}

.bottom-\[1px\] {
  bottom: 1px
}

.bottom-\[21px\] {
  bottom: 21px
}

.bottom-\[62px\] {
  bottom: 62px
}

.bottom-\[70px\] {
  bottom: 70px
}

.bottom-custom-huge {
  bottom: 96px
}

.bottom-custom-md {
  bottom: 16px
}

.bottom-custom-xx-lg {
  bottom: 64px
}

.bottom-custom-xxx-big {
  bottom: 32px
}

.bottom-custom-xxx-lg {
  bottom: 80px
}

.left-0 {
  left: 0
}

.left-1\/2 {
  left: 50%
}

.left-\[10\%\] {
  left: 10%
}

.left-\[100\%\] {
  left: 100%
}

.left-\[20\%\] {
  left: 20%
}

.left-\[20px\] {
  left: 20px
}

.left-\[2px\] {
  left: 2px
}

.left-\[30px\] {
  left: 30px
}

.left-\[32px\] {
  left: 32px
}

.left-\[40\%\] {
  left: 40%
}

.left-\[50\%\] {
  left: 50%
}

.left-\[6px\] {
  left: 6px
}

.left-auto {
  left: auto
}

.left-custom-md {
  left: 16px
}

.left-custom-sm {
  left: 12px
}

.left-custom-xx-sm {
  left: 4px
}

.right-0 {
  right: 0
}

.right-1\/4 {
  right: 25%
}

.right-\[-50px\] {
  right: -50px
}

.right-\[0\] {
  right: 0
}

.right-\[12px\] {
  right: 12px
}

.right-\[16px\] {
  right: 16px
}

.right-\[20px\] {
  right: 20px
}

.right-\[24px\] {
  right: 24px
}

.right-\[32px\] {
  right: 32px
}

.right-custom-lg {
  right: 40px
}

.right-custom-md {
  right: 16px
}

.right-custom-sm {
  right: 12px
}

.right-custom-x-big {
  right: 24px
}

.right-custom-xx-sm {
  right: 4px
}

.top-0 {
  top: 0
}

.top-1\/2 {
  top: 50%
}

.top-\[-12px\] {
  top: -12px
}

.top-\[-175px\] {
  top: -175px
}

.top-\[-8px\] {
  top: -8px
}

.top-\[10px\] {
  top: 10px
}

.top-\[120px\] {
  top: 120px
}

.top-\[16px\] {
  top: 16px
}

.top-\[1px\] {
  top: 1px
}

.top-\[20px\] {
  top: 20px
}

.top-\[22px\] {
  top: 22px
}

.top-\[2px\] {
  top: 2px
}

.top-\[30px\] {
  top: 30px
}

.top-\[32px\] {
  top: 32px
}

.top-\[34px\] {
  top: 34px
}

.top-\[36px\] {
  top: 36px
}

.top-\[40px\] {
  top: 40px
}

.top-\[4px\] {
  top: 4px
}

.top-\[50\%\] {
  top: 50%
}

.top-\[55px\] {
  top: 55px
}

.top-\[56px\] {
  top: 56px
}

.top-\[58px\] {
  top: 58px
}

.top-\[60px\] {
  top: 60px
}

.top-\[68px\] {
  top: 68px
}

.top-\[80px\] {
  top: 80px
}

.top-\[82\%\] {
  top: 82%
}

.top-\[84px\] {
  top: 84px
}

.top-custom-md {
  top: 16px
}

.top-custom-x-big {
  top: 24px
}

.top-custom-xx-lg {
  top: 64px
}

.top-custom-xx-sm {
  top: 4px
}

.top-full {
  top: 100%
}

.-z-0 {
  z-index: 0
}

.-z-10 {
  z-index: -10
}

.z-10 {
  z-index: 10
}

.z-20 {
  z-index: 20
}

.z-30 {
  z-index: 30
}

.z-40 {
  z-index: 40
}

.z-50 {
  z-index: 50
}

.z-\[1000\] {
  z-index: 1000
}

.z-\[35\] {
  z-index: 35
}

.z-\[55\] {
  z-index: 55
}

.z-\[9999\] {
  z-index: 9999
}

.z-\[999\] {
  z-index: 999
}

.z-\[9\] {
  z-index: 9
}

.order-1 {
  order: 1
}

.order-2 {
  order: 2
}

.col-span-1 {
  grid-column: span 1/span 1
}

.col-span-10 {
  grid-column: span 10/span 10
}

.col-span-12 {
  grid-column: span 12/span 12
}

.col-span-2 {
  grid-column: span 2/span 2
}

.col-span-3 {
  grid-column: span 3/span 3
}

.col-span-4 {
  grid-column: span 4/span 4
}

.m-9 {
  margin: 2.25rem
}

.m-custom-md {
  margin: 16px
}

.m-custom-xx-sm {
  margin: 4px
}

.mx-\[12px\] {
  margin-left: 12px;
  margin-right: 12px
}

.mx-\[14px\] {
  margin-left: 14px;
  margin-right: 14px
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mx-custom-md {
  margin-left: 16px;
  margin-right: 16px
}

.mx-custom-xx-sm {
  margin-left: 4px;
  margin-right: 4px
}

.my-1 {
  margin-top: .25rem;
  margin-bottom: .25rem
}

.my-3 {
  margin-top: .75rem;
  margin-bottom: .75rem
}

.my-\[12px\] {
  margin-top: 12px;
  margin-bottom: 12px
}

.my-\[16px\] {
  margin-top: 16px;
  margin-bottom: 16px
}

.my-\[20px\] {
  margin-top: 20px;
  margin-bottom: 20px
}

.my-\[24px\] {
  margin-top: 24px;
  margin-bottom: 24px
}

.my-\[32px\] {
  margin-top: 32px;
  margin-bottom: 32px
}

.my-\[36px\] {
  margin-top: 36px;
  margin-bottom: 36px
}

.my-\[40px\] {
  margin-top: 40px;
  margin-bottom: 40px
}

.my-\[44px\] {
  margin-top: 44px;
  margin-bottom: 44px
}

.my-\[80px\] {
  margin-top: 80px;
  margin-bottom: 80px
}

.my-\[8px\] {
  margin-top: 8px;
  margin-bottom: 8px
}

.my-custom-lg-2 {
  margin-top: 44px;
  margin-bottom: 44px
}

.my-custom-x-big {
  margin-top: 24px;
  margin-bottom: 24px
}

.my-custom-x-lg {
  margin-top: 48px;
  margin-bottom: 48px
}

.\!mb-0 {
  margin-bottom: 0!important
}

.\!mb-custom-xx-sm {
  margin-bottom: 4px!important
}

.-mb-\[77px\] {
  margin-bottom: -77px
}

.-mb-custom-x-sm {
  margin-bottom: -8px
}

.-mb-custom-xxx-big {
  margin-bottom: -32px
}

.-ml-custom-sm {
  margin-left: -12px
}

.-ml-custom-x-big {
  margin-left: -24px
}

.-ml-custom-xx-sm {
  margin-left: -4px
}

.-mt-\[36px\] {
  margin-top: -36px
}

.-mt-\[4px\],.-mt-custom-xx-sm {
  margin-top: -4px
}

.mb-0 {
  margin-bottom: 0
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mb-2 {
  margin-bottom: .5rem
}

.mb-3 {
  margin-bottom: .75rem
}

.mb-4 {
  margin-bottom: 1rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.mb-9 {
  margin-bottom: 2.25rem
}

.mb-\[-24px\] {
  margin-bottom: -24px
}

.mb-\[100px\] {
  margin-bottom: 100px
}

.mb-\[10px\] {
  margin-bottom: 10px
}

.mb-\[12px\] {
  margin-bottom: 12px
}

.mb-\[14px\] {
  margin-bottom: 14px
}

.mb-\[16px\] {
  margin-bottom: 16px
}

.mb-\[20px\] {
  margin-bottom: 20px
}

.mb-\[24px\] {
  margin-bottom: 24px
}

.mb-\[26px\] {
  margin-bottom: 26px
}

.mb-\[28px\] {
  margin-bottom: 28px
}

.mb-\[30px\] {
  margin-bottom: 30px
}

.mb-\[32px\] {
  margin-bottom: 32px
}

.mb-\[40px\] {
  margin-bottom: 40px
}

.mb-\[44px\] {
  margin-bottom: 44px
}

.mb-\[48px\] {
  margin-bottom: 48px
}

.mb-\[4px\] {
  margin-bottom: 4px
}

.mb-\[50px\] {
  margin-bottom: 50px
}

.mb-\[6px\] {
  margin-bottom: 6px
}

.mb-\[8px\] {
  margin-bottom: 8px
}

.mb-custom-big {
  margin-bottom: 20px
}

.mb-custom-lg {
  margin-bottom: 40px
}

.mb-custom-lg-2 {
  margin-bottom: 44px
}

.mb-custom-md {
  margin-bottom: 16px
}

.mb-custom-sm {
  margin-bottom: 12px
}

.mb-custom-x-big {
  margin-bottom: 24px
}

.mb-custom-x-lg {
  margin-bottom: 48px
}

.mb-custom-x-sm {
  margin-bottom: 8px
}

.mb-custom-xx-big {
  margin-bottom: 28px
}

.mb-custom-xx-lg {
  margin-bottom: 64px
}

.mb-custom-xx-sm {
  margin-bottom: 4px
}

.mb-custom-xxx-big {
  margin-bottom: 32px
}

.ml-\[12px\] {
  margin-left: 12px
}

.ml-\[17px\] {
  margin-left: 17px
}

.ml-\[3px\] {
  margin-left: 3px
}

.ml-auto {
  margin-left: auto
}

.ml-custom-big {
  margin-left: 20px
}

.ml-custom-md {
  margin-left: 16px
}

.ml-custom-sm {
  margin-left: 12px
}

.ml-custom-x-big {
  margin-left: 24px
}

.ml-custom-x-sm {
  margin-left: 8px
}

.mr-0 {
  margin-right: 0
}

.mr-\[8px\] {
  margin-right: 8px
}

.mr-auto {
  margin-right: auto
}

.mr-custom-lg {
  margin-right: 40px
}

.mr-custom-sm {
  margin-right: 12px
}

.mr-custom-x-big {
  margin-right: 24px
}

.mr-custom-x-sm {
  margin-right: 8px
}

.mr-custom-xx-lg {
  margin-right: 64px
}

.mr-custom-xx-sm {
  margin-right: 4px
}

.ms-0 {
  margin-inline-start:0}

.mt-0 {
  margin-top: 0
}

.mt-4 {
  margin-top: 1rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-\[-46px\] {
  margin-top: -46px
}

.mt-\[0\] {
  margin-top: 0
}

.mt-\[100px\] {
  margin-top: 100px
}

.mt-\[10px\] {
  margin-top: 10px
}

.mt-\[12px\] {
  margin-top: 12px
}

.mt-\[16px\] {
  margin-top: 16px
}

.mt-\[20px\] {
  margin-top: 20px
}

.mt-\[24px\] {
  margin-top: 24px
}

.mt-\[28px\] {
  margin-top: 28px
}

.mt-\[2px\] {
  margin-top: 2px
}

.mt-\[30px\] {
  margin-top: 30px
}

.mt-\[32px\] {
  margin-top: 32px
}

.mt-\[40px\] {
  margin-top: 40px
}

.mt-\[44px\] {
  margin-top: 44px
}

.mt-\[46px\] {
  margin-top: 46px
}

.mt-\[48px\] {
  margin-top: 48px
}

.mt-\[4px\] {
  margin-top: 4px
}

.mt-\[60px\] {
  margin-top: 60px
}

.mt-\[8px\] {
  margin-top: 8px
}

.mt-auto {
  margin-top: auto
}

.mt-custom-big {
  margin-top: 20px
}

.mt-custom-lg {
  margin-top: 40px
}

.mt-custom-lg-2 {
  margin-top: 44px
}

.mt-custom-md {
  margin-top: 16px
}

.mt-custom-sm {
  margin-top: 12px
}

.mt-custom-x-big {
  margin-top: 24px
}

.mt-custom-x-lg {
  margin-top: 48px
}

.mt-custom-x-sm {
  margin-top: 8px
}

.mt-custom-xx-big {
  margin-top: 28px
}

.mt-custom-xx-lg {
  margin-top: 64px
}

.mt-custom-xx-sm {
  margin-top: 4px
}

.mt-custom-xxx-big {
  margin-top: 32px
}

.\!block {
  display: block!important
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.\!flex {
  display: flex!important
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.\!h-\[220px\] {
  height: 220px!important
}

.\!h-\[280px\] {
  height: 280px!important
}

.\!h-auto {
  height: auto!important
}

.h-0 {
  height: 0
}

.h-\[100px\] {
  height: 100px
}

.h-\[100vh\] {
  height: 100vh
}

.h-\[101\%\] {
  height: 101%
}

.h-\[124px\] {
  height: 124px
}

.h-\[128px\] {
  height: 128px
}

.h-\[135px\] {
  height: 135px
}

.h-\[145px\] {
  height: 145px
}

.h-\[148px\] {
  height: 148px
}

.h-\[14px\] {
  height: 14px
}

.h-\[160px\] {
  height: 160px
}

.h-\[16px\] {
  height: 16px
}

.h-\[182px\] {
  height: 182px
}

.h-\[194px\] {
  height: 194px
}

.h-\[195px\] {
  height: 195px
}

.h-\[1px\] {
  height: 1px
}

.h-\[200px\] {
  height: 200px
}

.h-\[20px\] {
  height: 20px
}

.h-\[220px\] {
  height: 220px
}

.h-\[224px\] {
  height: 224px
}

.h-\[225px\] {
  height: 225px
}

.h-\[22px\] {
  height: 22px
}

.h-\[24px\] {
  height: 24px
}

.h-\[27px\] {
  height: 27px
}

.h-\[280px\] {
  height: 280px
}

.h-\[282px\] {
  height: 282px
}

.h-\[28px\] {
  height: 28px
}

.h-\[290px\] {
  height: 290px
}

.h-\[2px\] {
  height: 2px
}

.h-\[306px\] {
  height: 306px
}

.h-\[30px\] {
  height: 30px
}

.h-\[32px\] {
  height: 32px
}

.h-\[33px\] {
  height: 33px
}

.h-\[34px\] {
  height: 34px
}

.h-\[350px\] {
  height: 350px
}

.h-\[35px\] {
  height: 35px
}

.h-\[360px\] {
  height: 360px
}

.h-\[36px\] {
  height: 36px
}

.h-\[390px\] {
  height: 390px
}

.h-\[400px\] {
  height: 400px
}

.h-\[407px\] {
  height: 407px
}

.h-\[40px\] {
  height: 40px
}

.h-\[44px\] {
  height: 44px
}

.h-\[45px\] {
  height: 45px
}

.h-\[470px\] {
  height: 470px
}

.h-\[480px\] {
  height: 480px
}

.h-\[48px\] {
  height: 48px
}

.h-\[490px\] {
  height: 490px
}

.h-\[4px\] {
  height: 4px
}

.h-\[50px\] {
  height: 50px
}

.h-\[55px\] {
  height: 55px
}

.h-\[560px\] {
  height: 560px
}

.h-\[568px\] {
  height: 568px
}

.h-\[58px\] {
  height: 58px
}

.h-\[63px\] {
  height: 63px
}

.h-\[67px\] {
  height: 67px
}

.h-\[6px\] {
  height: 6px
}

.h-\[72px\] {
  height: 72px
}

.h-\[80px\] {
  height: 80px
}

.h-\[80vh\] {
  height: 80vh
}

.h-\[90dvh\] {
  height: 90dvh
}

.h-\[auto\] {
  height: auto
}

.h-\[calc\(100\%-67px\)\] {
  height: calc(100% - 67px)
}

.h-\[calc\(100vh-150px\)\] {
  height: calc(100vh - 150px)
}

.h-\[calc\(100vh-185px\)\] {
  height: calc(100vh - 185px)
}

.h-auto {
  height: auto
}

.h-custom-big {
  height: 20px
}

.h-custom-lg {
  height: 40px
}

.h-custom-md {
  height: 16px
}

.h-custom-sm {
  height: 12px
}

.h-custom-x-big {
  height: 24px
}

.h-custom-x-lg {
  height: 48px
}

.h-custom-x-sm {
  height: 8px
}

.h-custom-xx-lg {
  height: 64px
}

.h-custom-xx-sm {
  height: 4px
}

.h-custom-xxx-big {
  height: 32px
}

.h-custom-xxx-lg {
  height: 80px
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.\!max-h-\[110px\] {
  max-height: 110px!important
}

.max-h-0 {
  max-height: 0
}

.max-h-\[1000px\] {
  max-height: 1000px
}

.max-h-\[300px\] {
  max-height: 300px
}

.max-h-\[700px\] {
  max-height: 700px
}

.max-h-\[calc\(100vh-50px\)\] {
  max-height: calc(100vh - 50px)
}

.max-h-full {
  max-height: 100%
}

.min-h-\[100vh\] {
  min-height: 100vh
}

.min-h-\[120px\] {
  min-height: 120px
}

.min-h-\[124px\] {
  min-height: 124px
}

.min-h-\[200px\] {
  min-height: 200px
}

.min-h-\[217px\] {
  min-height: 217px
}

.min-h-\[220px\] {
  min-height: 220px
}

.min-h-\[24px\] {
  min-height: 24px
}

.min-h-\[300px\] {
  min-height: 300px
}

.min-h-\[320px\] {
  min-height: 320px
}

.min-h-\[350px\] {
  min-height: 350px
}

.min-h-\[400px\] {
  min-height: 400px
}

.min-h-\[425px\] {
  min-height: 425px
}

.min-h-\[492px\] {
  min-height: 492px
}

.min-h-\[500px\] {
  min-height: 500px
}

.min-h-\[70px\] {
  min-height: 70px
}

.\!w-full {
  width: 100%!important
}

.w-0 {
  width: 0
}

.w-1\/2 {
  width: 50%
}

.w-\[100px\] {
  width: 100px
}

.w-\[12px\] {
  width: 12px
}

.w-\[148px\] {
  width: 148px
}

.w-\[14px\] {
  width: 14px
}

.w-\[150px\] {
  width: 150px
}

.w-\[169px\] {
  width: 169px
}

.w-\[16px\] {
  width: 16px
}

.w-\[180px\] {
  width: 180px
}

.w-\[18px\] {
  width: 18px
}

.w-\[192px\] {
  width: 192px
}

.w-\[20\%\] {
  width: 20%
}

.w-\[200px\] {
  width: 200px
}

.w-\[20px\] {
  width: 20px
}

.w-\[220px\] {
  width: 220px
}

.w-\[22px\] {
  width: 22px
}

.w-\[240px\] {
  width: 240px
}

.w-\[248px\] {
  width: 248px
}

.w-\[24px\] {
  width: 24px
}

.w-\[250px\] {
  width: 250px
}

.w-\[254px\] {
  width: 254px
}

.w-\[275px\] {
  width: 275px
}

.w-\[280px\] {
  width: 280px
}

.w-\[28px\] {
  width: 28px
}

.w-\[30\%\] {
  width: 30%
}

.w-\[300px\] {
  width: 300px
}

.w-\[30px\] {
  width: 30px
}

.w-\[320px\] {
  width: 320px
}

.w-\[325px\] {
  width: 325px
}

.w-\[32px\] {
  width: 32px
}

.w-\[33px\] {
  width: 33px
}

.w-\[345px\] {
  width: 345px
}

.w-\[34px\] {
  width: 34px
}

.w-\[35\%\] {
  width: 35%
}

.w-\[35px\] {
  width: 35px
}

.w-\[36px\] {
  width: 36px
}

.w-\[40\%\] {
  width: 40%
}

.w-\[400px\] {
  width: 400px
}

.w-\[40px\] {
  width: 40px
}

.w-\[45px\] {
  width: 45px
}

.w-\[48px\] {
  width: 48px
}

.w-\[50\%\] {
  width: 50%
}

.w-\[50px\] {
  width: 50px
}

.w-\[55px\] {
  width: 55px
}

.w-\[56px\] {
  width: 56px
}

.w-\[60\%\] {
  width: 60%
}

.w-\[63px\] {
  width: 63px
}

.w-\[64px\] {
  width: 64px
}

.w-\[65\%\] {
  width: 65%
}

.w-\[65\] {
  width: 65
}

.w-\[68px\] {
  width: 68px
}

.w-\[69px\] {
  width: 69px
}

.w-\[72px\] {
  width: 72px
}

.w-\[76px\] {
  width: 76px
}

.w-\[80px\] {
  width: 80px
}

.w-\[88px\] {
  width: 88px
}

.w-\[90\%\] {
  width: 90%
}

.w-\[auto\] {
  width: auto
}

.w-\[calc\(100\%-32px\)\] {
  width: calc(100% - 32px)
}

.w-auto {
  width: auto
}

.w-custom-big {
  width: 20px
}

.w-custom-lg {
  width: 40px
}

.w-custom-md {
  width: 16px
}

.w-custom-sm {
  width: 12px
}

.w-custom-x-big {
  width: 24px
}

.w-custom-x-lg {
  width: 48px
}

.w-custom-xx-huge {
  width: 160px
}

.w-custom-xx-lg {
  width: 64px
}

.w-custom-xxx-big {
  width: 32px
}

.w-custom-xxx-huge {
  width: 192px
}

.w-full {
  width: 100%
}

.\!min-w-0 {
  min-width: 0!important
}

.min-w-\[100px\] {
  min-width: 100px
}

.min-w-\[174px\] {
  min-width: 174px
}

.min-w-\[210px\] {
  min-width: 210px
}

.max-w-\[100\%\] {
  max-width: 100%
}

.max-w-\[100px\] {
  max-width: 100px
}

.max-w-\[120px\] {
  max-width: 120px
}

.max-w-\[1216px\] {
  max-width: 1216px
}

.max-w-\[1416px\] {
  max-width: 1416px
}

.max-w-\[1920px\] {
  max-width: 1920px
}

.max-w-\[200px\] {
  max-width: 200px
}

.max-w-\[234px\] {
  max-width: 234px
}

.max-w-\[260px\] {
  max-width: 260px
}

.max-w-\[300px\] {
  max-width: 300px
}

.max-w-\[342px\] {
  max-width: 342px
}

.max-w-\[350px\] {
  max-width: 350px
}

.max-w-\[400px\] {
  max-width: 400px
}

.max-w-\[450px\] {
  max-width: 450px
}

.max-w-\[710px\] {
  max-width: 710px
}

.max-w-\[750px\] {
  max-width: 750px
}

.max-w-\[920px\] {
  max-width: 920px
}

.max-w-\[980px\] {
  max-width: 980px
}

.max-w-container {
  max-width: 1200px
}

.flex-1 {
  flex: 1 1 0%
}

.flex-shrink-0,.shrink-0 {
  flex-shrink: 0
}

.flex-grow,.grow {
  flex-grow: 1
}

.-translate-x-1\/2,.-translate-x-\[50\%\] {
  --tw-translate-x: -50%
}

.-translate-x-1\/2,.-translate-x-\[50\%\],.-translate-y-1\/2 {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%
}

.-translate-y-\[140px\] {
  --tw-translate-y: -140px
}

.-translate-y-\[140px\],.-translate-y-\[50\%\] {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-\[50\%\] {
  --tw-translate-y: -50%
}

.translate-x-\[-50\%\] {
  --tw-translate-x: -50%
}

.translate-x-\[-50\%\],.translate-y-\[-50\%\] {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-\[-50\%\] {
  --tw-translate-y: -50%
}

.-rotate-90 {
  --tw-rotate: -90deg
}

.-rotate-90,.rotate-180 {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-180 {
  --tw-rotate: 180deg
}

.rotate-45 {
  --tw-rotate: 45deg
}

.rotate-45,.rotate-90 {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-90 {
  --tw-rotate: 90deg
}

.rotate-\[180deg\] {
  --tw-rotate: 180deg
}

.rotate-\[180deg\],.rotate-\[270deg\] {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-\[270deg\] {
  --tw-rotate: 270deg
}

.scale-\[1\.5\] {
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes spin {
  to {
      transform: rotate(1turn)
  }
}

.animate-spin {
  animation: spin 1s linear infinite
}

.cursor-pointer {
  cursor: pointer
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.resize {
  resize: both
}

.snap-x {
  scroll-snap-type: x var(--tw-scroll-snap-strictness)
}

.snap-proximity {
  --tw-scroll-snap-strictness: proximity
}

.snap-start {
  scroll-snap-align: start
}

.scroll-px-\[16px\] {
  scroll-padding-left: 16px;
  scroll-padding-right: 16px
}

.list-inside {
  list-style-position: inside
}

.list-outside {
  list-style-position: outside
}

.list-decimal {
  list-style-type: decimal
}

.list-disc {
  list-style-type: disc
}

.list-none {
  list-style-type: none
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.grid-cols-1 {
  grid-template-columns: repeat(1,minmax(0,1fr))
}

.grid-cols-12 {
  grid-template-columns: repeat(12,minmax(0,1fr))
}

.grid-cols-2 {
  grid-template-columns: repeat(2,minmax(0,1fr))
}

.grid-cols-3 {
  grid-template-columns: repeat(3,minmax(0,1fr))
}

.grid-cols-4 {
  grid-template-columns: repeat(4,minmax(0,1fr))
}

.flex-row {
  flex-direction: row
}

.flex-row-reverse {
  flex-direction: row-reverse
}

.flex-col {
  flex-direction: column
}

.flex-col-reverse {
  flex-direction: column-reverse
}

.flex-wrap {
  flex-wrap: wrap
}

.place-content-center {
  place-content: center
}

.place-items-center {
  place-items: center
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-1 {
  gap: .25rem
}

.gap-3 {
  gap: .75rem
}

.gap-4 {
  gap: 1rem
}

.gap-\[10px\] {
  gap: 10px
}

.gap-\[12px\] {
  gap: 12px
}

.gap-\[16px\] {
  gap: 16px
}

.gap-\[20px\] {
  gap: 20px
}

.gap-\[24px\] {
  gap: 24px
}

.gap-\[28px\] {
  gap: 28px
}

.gap-\[2px\] {
  gap: 2px
}

.gap-\[30px\] {
  gap: 30px
}

.gap-\[32px\] {
  gap: 32px
}

.gap-\[36px\] {
  gap: 36px
}

.gap-\[40px\] {
  gap: 40px
}

.gap-\[44px\] {
  gap: 44px
}

.gap-\[4px\] {
  gap: 4px
}

.gap-\[8px\] {
  gap: 8px
}

.gap-custom-big {
  gap: 20px
}

.gap-custom-lg {
  gap: 40px
}

.gap-custom-lg-2 {
  gap: 44px
}

.gap-custom-md {
  gap: 16px
}

.gap-custom-sm {
  gap: 12px
}

.gap-custom-x-big {
  gap: 24px
}

.gap-custom-x-sm {
  gap: 8px
}

.gap-custom-xx-big {
  gap: 28px
}

.gap-custom-xx-lg {
  gap: 64px
}

.gap-custom-xx-sm {
  gap: 4px
}

.gap-custom-xxx-big {
  gap: 32px
}

.gap-custom-xxx-lg {
  gap: 80px
}

.gap-x-\[20px\] {
  -moz-column-gap: 20px;
  column-gap: 20px
}

.gap-x-\[8px\] {
  -moz-column-gap: 8px;
  column-gap: 8px
}

.gap-x-custom-sm {
  -moz-column-gap: 12px;
  column-gap: 12px
}

.gap-x-custom-x-big {
  -moz-column-gap: 24px;
  column-gap: 24px
}

.gap-x-custom-x-huge {
  -moz-column-gap: 128px;
  column-gap: 128px
}

.gap-x-custom-xxx-big {
  -moz-column-gap: 32px;
  column-gap: 32px
}

.gap-y-custom-md {
  row-gap: 16px
}

.gap-y-custom-x-lg {
  row-gap: 48px
}

.self-end {
  align-self: flex-end
}

.self-center {
  align-self: center
}

.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.overflow-x-auto {
  overflow-x: auto
}

.overflow-y-auto {
  overflow-y: auto
}

.overflow-x-hidden {
  overflow-x: hidden
}

.overscroll-contain {
  overscroll-behavior: contain
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis
}

.truncate,.whitespace-nowrap {
  white-space: nowrap
}

.break-words {
  overflow-wrap: break-word
}

.\!rounded-custom-x-sm {
  border-radius: 8px!important
}

.rounded-\[100\%\] {
  border-radius: 100%
}

.rounded-\[10px\] {
  border-radius: 10px
}

.rounded-\[12px\] {
  border-radius: 12px
}

.rounded-\[16px\] {
  border-radius: 16px
}

.rounded-\[20px\] {
  border-radius: 20px
}

.rounded-\[24px\] {
  border-radius: 24px
}

.rounded-\[30px\] {
  border-radius: 30px
}

.rounded-\[36px\] {
  border-radius: 36px
}

.rounded-\[4px\] {
  border-radius: 4px
}

.rounded-\[6px\] {
  border-radius: 6px
}

.rounded-\[8px\] {
  border-radius: 8px
}

.rounded-custom-big {
  border-radius: 20px
}

.rounded-custom-lg {
  border-radius: 40px
}

.rounded-custom-md {
  border-radius: 16px
}

.rounded-custom-sm {
  border-radius: 12px
}

.rounded-custom-x-big {
  border-radius: 24px
}

.rounded-custom-x-lg {
  border-radius: 48px
}

.rounded-custom-x-sm {
  border-radius: 8px
}

.rounded-custom-xx-sm {
  border-radius: 4px
}

.rounded-custom-xxx-big {
  border-radius: 32px
}

.rounded-full {
  border-radius: 9999px
}

.rounded-b-\[12px\],.rounded-b-custom-sm {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px
}

.rounded-b-custom-x-big {
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px
}

.rounded-b-custom-x-sm {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px
}

.rounded-l-custom-sm {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px
}

.rounded-l-custom-xx-sm {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px
}

.rounded-r-custom-sm {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px
}

.rounded-t-\[12px\],.rounded-t-custom-sm {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px
}

.rounded-t-custom-x-big {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px
}

.rounded-bl-\[20px\] {
  border-bottom-left-radius: 20px
}

.rounded-br-\[20px\] {
  border-bottom-right-radius: 20px
}

.rounded-br-\[8px\] {
  border-bottom-right-radius: 8px
}

.rounded-br-custom-md {
  border-bottom-right-radius: 16px
}

.rounded-ee-\[8px\] {
  border-end-end-radius: 8px
}

.rounded-se-\[8px\] {
  border-start-end-radius: 8px
}

.rounded-tl-custom-md {
  border-top-left-radius: 16px
}

.border {
  border-width: 1px
}

.border-0 {
  border-width: 0
}

.border-2 {
  border-width: 2px
}

.border-4 {
  border-width: 4px
}

.border-b {
  border-bottom-width: 1px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-b-4 {
  border-bottom-width: 4px
}

.border-b-\[2px\] {
  border-bottom-width: 2px
}

.border-l-0 {
  border-left-width: 0
}

.border-l-4 {
  border-left-width: 4px
}

.border-r {
  border-right-width: 1px
}

.border-s-\[4px\] {
  border-inline-start-width:4px}

.border-t {
  border-top-width: 1px
}

.border-t-0 {
  border-top-width: 0
}

.border-t-2 {
  border-top-width: 2px
}

.border-t-4 {
  border-top-width: 4px
}

.border-t-\[1px\] {
  border-top-width: 1px
}

.border-grey {
  --tw-border-opacity: 1;
  border-color: rgb(51 51 51/var(--tw-border-opacity))
}

.border-grey-dark {
  --tw-border-opacity: 1;
  border-color: rgb(102 102 102/var(--tw-border-opacity))
}

.border-grey-dark\/30 {
  border-color: hsla(0,0%,40%,.3)
}

.border-grey-dark\/50 {
  border-color: hsla(0,0%,40%,.5)
}

.border-grey-light {
  --tw-border-opacity: 1;
  border-color: rgb(204 204 204/var(--tw-border-opacity))
}

.border-grey-light\/20 {
  border-color: hsla(0,0%,80%,.2)
}

.border-grey-light\/50 {
  border-color: hsla(0,0%,80%,.5)
}

.border-grey-lighter {
  --tw-border-opacity: 1;
  border-color: rgb(229 229 229/var(--tw-border-opacity))
}

.border-grey-lightest {
  --tw-border-opacity: 1;
  border-color: rgb(242 242 242/var(--tw-border-opacity))
}

.border-grey-medium {
  --tw-border-opacity: 1;
  border-color: rgb(148 148 148/var(--tw-border-opacity))
}

.border-negative {
  --tw-border-opacity: 1;
  border-color: rgb(188 0 0/var(--tw-border-opacity))
}

.border-neutral-900 {
  --tw-border-opacity: 1;
  border-color: rgb(23 23 23/var(--tw-border-opacity))
}

.border-positive {
  --tw-border-opacity: 1;
  border-color: rgb(22 135 33/var(--tw-border-opacity))
}

.border-positive-dark {
  --tw-border-opacity: 1;
  border-color: rgb(16 101 25/var(--tw-border-opacity))
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(70 100 220/var(--tw-border-opacity))
}

.border-primary-dark {
  --tw-border-opacity: 1;
  border-color: rgb(40 85 140/var(--tw-border-opacity))
}

.border-primary-petal {
  --tw-border-opacity: 1;
  border-color: rgb(8 116 231/var(--tw-border-opacity))
}

.border-secondary {
  --tw-border-opacity: 1;
  border-color: rgb(6 132 104/var(--tw-border-opacity))
}

.border-tertiary-dark {
  --tw-border-opacity: 1;
  border-color: rgb(203 79 10/var(--tw-border-opacity))
}

.border-transparent {
  border-color: transparent
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255/var(--tw-border-opacity))
}

.border-b-primary-light\/20 {
  border-bottom-color: rgba(15,190,240,.2)
}

.border-t-primary-light\/20 {
  border-top-color: rgba(15,190,240,.2)
}

.border-t-transparent {
  border-top-color: transparent
}

.bg-\[\#292B30\] {
  --tw-bg-opacity: 1;
  background-color: rgb(41 43 48/var(--tw-bg-opacity))
}

.bg-\[\#EAEEF2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(234 238 242/var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

.bg-black\/30 {
  background-color: rgba(0,0,0,.3)
}

.bg-black\/50 {
  background-color: rgba(0,0,0,.5)
}

.bg-black\/95 {
  background-color: rgba(0,0,0,.95)
}

.bg-grey {
  --tw-bg-opacity: 1;
  background-color: rgb(51 51 51/var(--tw-bg-opacity))
}

.bg-grey-dark\/30 {
  background-color: hsla(0,0%,40%,.3)
}

.bg-grey-darkest {
  --tw-bg-opacity: 1;
  background-color: rgb(51 63 72/var(--tw-bg-opacity))
}

.bg-grey-light {
  --tw-bg-opacity: 1;
  background-color: rgb(204 204 204/var(--tw-bg-opacity))
}

.bg-grey-light\/20 {
  background-color: hsla(0,0%,80%,.2)
}

.bg-grey-lightest {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242/var(--tw-bg-opacity))
}

.bg-grey-medium {
  --tw-bg-opacity: 1;
  background-color: rgb(148 148 148/var(--tw-bg-opacity))
}

.bg-grey\/25 {
  background-color: rgba(51,51,51,.25)
}

.bg-grey\/50 {
  background-color: rgba(51,51,51,.5)
}

.bg-grey\/60 {
  background-color: rgba(51,51,51,.6)
}

.bg-grey\/80 {
  background-color: rgba(51,51,51,.8)
}

.bg-grey\/90 {
  background-color: rgba(51,51,51,.9)
}

.bg-negative-light {
  --tw-bg-opacity: 1;
  background-color: rgb(255 190 190/var(--tw-bg-opacity))
}

.bg-positive-light {
  --tw-bg-opacity: 1;
  background-color: rgb(220 237 222/var(--tw-bg-opacity))
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(70 100 220/var(--tw-bg-opacity))
}

.bg-primary-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(40 85 140/var(--tw-bg-opacity))
}

.bg-primary-light {
  --tw-bg-opacity: 1;
  background-color: rgb(15 190 240/var(--tw-bg-opacity))
}

.bg-primary-lightest {
  --tw-bg-opacity: 1;
  background-color: rgb(237 252 255/var(--tw-bg-opacity))
}

.bg-primary-petal {
  --tw-bg-opacity: 1;
  background-color: rgb(8 116 231/var(--tw-bg-opacity))
}

.bg-secondary-light\/30 {
  background-color: rgba(180,230,70,.3)
}

.bg-secondary-lightest {
  --tw-bg-opacity: 1;
  background-color:rgba(22, 135, 33, 1);
}

.bg-secondary-petal {
  --tw-bg-opacity: 1;
  background-color: rgb(70 166 23/var(--tw-bg-opacity))
}

.bg-secondary\/10 {
  background-color: rgba(6,132,104,.1)
}

.bg-secondary\/5 {
  background-color: rgba(6,132,104,.05)
}

.bg-slate-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252/var(--tw-bg-opacity))
}

.bg-tertiary-lightest {
  --tw-bg-opacity: 1;
  background-color: rgb(255 247 224/var(--tw-bg-opacity))
}

.bg-tertiary-petal {
  --tw-bg-opacity: 1;
  background-color: rgb(224 116 0/var(--tw-bg-opacity))
}

.bg-transparent {
  background-color: transparent
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-white\/70 {
  background-color: hsla(0,0%,100%,.7)
}

.bg-white\/80 {
  background-color: hsla(0,0%,100%,.8)
}

.bg-\[url\(\/images\/guid-me-mobile-v3\.svg\)\] {
  background-image: url(/images/guid-me-mobile-v3.svg)
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right,var(--tw-gradient-stops))
}

.from-positive {
  --tw-gradient-from: #168721 var(--tw-gradient-from-position);
  --tw-gradient-from-position: ;
  --tw-gradient-to: rgba(22,135,33,0) var(--tw-gradient-from-position);
  --tw-gradient-to-position: ;
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to)
}

.from-primary-dark {
  --tw-gradient-from: #28558c var(--tw-gradient-from-position);
  --tw-gradient-from-position: ;
  --tw-gradient-to: rgba(40,85,140,0) var(--tw-gradient-from-position);
  --tw-gradient-to-position: ;
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to)
}

.from-secondary {
  --tw-gradient-from: #068468 var(--tw-gradient-from-position);
  --tw-gradient-from-position: ;
  --tw-gradient-to: rgba(6,132,104,0) var(--tw-gradient-from-position);
  --tw-gradient-to-position: ;
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to)
}

.to-primary {
  --tw-gradient-to: #4664dc var(--tw-gradient-to-position);
  --tw-gradient-to-position:
}

.to-secondary-light {
  --tw-gradient-to: #b4e646 var(--tw-gradient-to-position);
  --tw-gradient-to-position:
}

.to-secondary-petal {
  --tw-gradient-to: #46a617 var(--tw-gradient-to-position);
  --tw-gradient-to-position:
}

.bg-contain {
  background-size: contain
}

.bg-cover {
  background-size: cover
}

.bg-bottom {
  background-position: bottom
}

.bg-no-repeat {
  background-repeat: no-repeat
}

.bg-origin-border {
  background-origin: border-box
}

.\!fill-none {
  fill: none!important
}

.fill-\[\#6ecf72\] {
  fill: #6ecf72
}

.fill-grey {
  fill: #333
}

.fill-grey-dark {
  fill: #666
}

.fill-none {
  fill: none
}

.fill-primary-dark {
  fill: #28558c
}

.fill-primary-petal {
  fill: #0874e7
}

.fill-white {
  fill: #fff
}

.stroke-grey {
  stroke: #333
}

.stroke-grey-dark {
  stroke: #666
}

.stroke-grey-darkest {
  stroke: #333f48
}

.stroke-primary {
  stroke: #4664dc
}

.stroke-primary-petal {
  stroke: #0874e7
}

.stroke-white {
  stroke: #fff
}

.object-contain {
  -o-object-fit: contain;
  object-fit: contain
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover
}

.object-right {
  -o-object-position: right;
  object-position: right
}

.object-top {
  -o-object-position: top;
  object-position: top
}

.p-0 {
  padding: 0
}

.p-2 {
  padding: .5rem
}

.p-3 {
  padding: .75rem
}

.p-5 {
  padding: 1.25rem
}

.p-\[12px\] {
  padding: 12px
}

.p-\[16px\] {
  padding: 16px
}

.p-\[20px\] {
  padding: 20px
}

.p-\[24px\] {
  padding: 24px
}

.p-\[28px\] {
  padding: 28px
}

.p-\[2px\] {
  padding: 2px
}

.p-\[32px\] {
  padding: 32px
}

.p-\[3px\] {
  padding: 3px
}

.p-\[40px\] {
  padding: 40px
}

.p-\[8px\] {
  padding: 8px
}

.p-custom-big {
  padding: 20px
}

.p-custom-lg {
  padding: 40px
}

.p-custom-md {
  padding: 16px
}

.p-custom-sm {
  padding: 12px
}

.p-custom-x-big {
  padding: 24px
}

.p-custom-x-lg {
  padding: 48px
}

.p-custom-x-sm {
  padding: 8px
}

.p-custom-xx-big {
  padding: 28px
}

.p-custom-xx-sm {
  padding: 4px
}

.\!px-\[16px\],.\!px-custom-md {
  padding-left: 16px!important;
  padding-right: 16px!important
}

.\!px-custom-x-sm {
  padding-left: 8px!important;
  padding-right: 8px!important
}

.\!py-\[17px\] {
  padding-top: 17px!important;
  padding-bottom: 17px!important
}

.\!py-\[8px\] {
  padding-top: 8px!important;
  padding-bottom: 8px!important
}

.\!py-custom-big {
  padding-top: 20px!important;
  padding-bottom: 20px!important
}

.\!py-custom-md {
  padding-top: 16px!important;
  padding-bottom: 16px!important
}

.px-0 {
  padding-left: 0;
  padding-right: 0
}

.px-\[10px\] {
  padding-left: 10px;
  padding-right: 10px
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px
}

.px-\[16px\] {
  padding-left: 16px;
  padding-right: 16px
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px
}

.px-\[24px\] {
  padding-left: 24px;
  padding-right: 24px
}

.px-\[28px\] {
  padding-left: 28px;
  padding-right: 28px
}

.px-\[44px\] {
  padding-left: 44px;
  padding-right: 44px
}

.px-\[60px\] {
  padding-left: 60px;
  padding-right: 60px
}

.px-\[8px\] {
  padding-left: 8px;
  padding-right: 8px
}

.px-custom-big {
  padding-left: 20px;
  padding-right: 20px
}

.px-custom-lg {
  padding-left: 40px;
  padding-right: 40px
}

.px-custom-md {
  padding-left: 16px;
  padding-right: 16px
}

.px-custom-sm {
  padding-left: 12px;
  padding-right: 12px
}

.px-custom-x-big {
  padding-left: 24px;
  padding-right: 24px
}

.px-custom-x-lg {
  padding-left: 48px;
  padding-right: 48px
}

.px-custom-x-sm {
  padding-left: 8px;
  padding-right: 8px
}

.px-custom-xx-big {
  padding-left: 28px;
  padding-right: 28px
}

.px-custom-xx-lg {
  padding-left: 64px;
  padding-right: 64px
}

.px-custom-xx-sm {
  padding-left: 4px;
  padding-right: 4px
}

.px-custom-xxx-big {
  padding-left: 32px;
  padding-right: 32px
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0
}

.py-\[100px\] {
  padding-top: 100px;
  padding-bottom: 100px
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px
}

.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px
}

.py-\[13px\] {
  padding-top: 13px;
  padding-bottom: 13px
}

.py-\[14px\] {
  padding-top: 14px;
  padding-bottom: 14px
}

.py-\[16px\] {
  padding-top: 16px;
  padding-bottom: 16px
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px
}

.py-\[22px\] {
  padding-top: 22px;
  padding-bottom: 22px
}

.py-\[24px\] {
  padding-top: 24px;
  padding-bottom: 24px
}

.py-\[28px\] {
  padding-top: 28px;
  padding-bottom: 28px
}

.py-\[2px\] {
  padding-top: 2px;
  padding-bottom: 2px
}

.py-\[32px\] {
  padding-top: 32px;
  padding-bottom: 32px
}

.py-\[35px\] {
  padding-top: 35px;
  padding-bottom: 35px
}

.py-\[40px\] {
  padding-top: 40px;
  padding-bottom: 40px
}

.py-\[4px\] {
  padding-top: 4px;
  padding-bottom: 4px
}

.py-\[8px\] {
  padding-top: 8px;
  padding-bottom: 8px
}

.py-custom-60 {
  padding-top: 60px;
  padding-bottom: 60px
}

.py-custom-big {
  padding-top: 20px;
  padding-bottom: 20px
}

.py-custom-lg {
  padding-top: 40px;
  padding-bottom: 40px
}

.py-custom-lg-2 {
  padding-top: 44px;
  padding-bottom: 44px
}

.py-custom-md {
  padding-top: 16px;
  padding-bottom: 16px
}

.py-custom-sm {
  padding-top: 12px;
  padding-bottom: 12px
}

.py-custom-x-big {
  padding-top: 24px;
  padding-bottom: 24px
}

.py-custom-x-lg {
  padding-top: 48px;
  padding-bottom: 48px
}

.py-custom-x-sm {
  padding-top: 8px;
  padding-bottom: 8px
}

.py-custom-xx-big {
  padding-top: 28px;
  padding-bottom: 28px
}

.py-custom-xx-lg {
  padding-top: 64px;
  padding-bottom: 64px
}

.py-custom-xx-sm {
  padding-top: 4px;
  padding-bottom: 4px
}

.py-custom-xxx-big {
  padding-top: 32px;
  padding-bottom: 32px
}

.\!pb-0 {
  padding-bottom: 0!important
}

.\!pb-custom-big {
  padding-bottom: 20px!important
}

.pb-\[100px\] {
  padding-bottom: 100px
}

.pb-\[128px\] {
  padding-bottom: 128px
}

.pb-\[18px\] {
  padding-bottom: 18px
}

.pb-\[20px\] {
  padding-bottom: 20px
}

.pb-\[24px\] {
  padding-bottom: 24px
}

.pb-\[28px\] {
  padding-bottom: 28px
}

.pb-\[32px\] {
  padding-bottom: 32px
}

.pb-\[40px\] {
  padding-bottom: 40px
}

.pb-\[44px\] {
  padding-bottom: 44px
}

.pb-\[48px\] {
  padding-bottom: 48px
}

.pb-\[4px\] {
  padding-bottom: 4px
}

.pb-\[50px\] {
  padding-bottom: 50px
}

.pb-\[54px\] {
  padding-bottom: 54px
}

.pb-\[60px\] {
  padding-bottom: 60px
}

.pb-custom-big {
  padding-bottom: 20px
}

.pb-custom-lg {
  padding-bottom: 40px
}

.pb-custom-lg-2 {
  padding-bottom: 44px
}

.pb-custom-md {
  padding-bottom: 16px
}

.pb-custom-sm {
  padding-bottom: 12px
}

.pb-custom-x-big {
  padding-bottom: 24px
}

.pb-custom-x-lg {
  padding-bottom: 48px
}

.pb-custom-xx-big {
  padding-bottom: 28px
}

.pb-custom-xx-lg {
  padding-bottom: 64px
}

.pb-custom-xxx-big {
  padding-bottom: 32px
}

.pb-custom-xxx-lg {
  padding-bottom: 80px
}

.pe-\[20px\] {
  padding-inline-end:20px}

.pe-\[44px\] {
  padding-inline-end:44px}

.pl-\[16px\] {
  padding-left: 16px
}

.pl-\[24px\] {
  padding-left: 24px
}

.pl-custom-md {
  padding-left: 16px
}

.pr-0 {
  padding-right: 0
}

.pr-\[16px\] {
  padding-right: 16px
}

.pr-\[24px\] {
  padding-right: 24px
}

.pr-\[32px\] {
  padding-right: 32px
}

.pr-\[36px\] {
  padding-right: 36px
}

.pr-\[88px\] {
  padding-right: 88px
}

.pr-\[8px\] {
  padding-right: 8px
}

.pr-custom-big {
  padding-right: 20px
}

.pr-custom-lg {
  padding-right: 40px
}

.pr-custom-md {
  padding-right: 16px
}

.pr-custom-xxx-big {
  padding-right: 32px
}

.ps-\[16px\] {
  padding-inline-start:16px}

.pt-\[12px\] {
  padding-top: 12px
}

.pt-\[16px\] {
  padding-top: 16px
}

.pt-\[20px\] {
  padding-top: 20px
}

.pt-\[24px\] {
  padding-top: 24px
}

.pt-\[28px\] {
  padding-top: 28px
}

.pt-\[32px\] {
  padding-top: 32px
}

.pt-\[40px\] {
  padding-top: 40px
}

.pt-\[48px\] {
  padding-top: 48px
}

.pt-\[60px\] {
  padding-top: 60px
}

.pt-custom-big {
  padding-top: 20px
}

.pt-custom-lg {
  padding-top: 40px
}

.pt-custom-lg-2 {
  padding-top: 44px
}

.pt-custom-md {
  padding-top: 16px
}

.pt-custom-sm {
  padding-top: 12px
}

.pt-custom-x-big {
  padding-top: 24px
}

.pt-custom-x-lg {
  padding-top: 48px
}

.pt-custom-xx-big {
  padding-top: 28px
}

.pt-custom-xx-lg {
  padding-top: 64px
}

.pt-custom-xxx-big {
  padding-top: 32px
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.align-middle {
  vertical-align: middle
}

.\!font-para {
  font-family: Inter,sans-serif!important
}

.font-heading {
  font-family: Farro,sans-serif
}

.\!text-heading-5 {
  font-size: 20px!important;
  line-height: 1.3!important
}

.text-\[16px\] {
  font-size: 16px
}

.text-\[20px\] {
  font-size: 20px
}

.text-\[22px\] {
  font-size: 22px
}

.text-\[24px\] {
  font-size: 24px
}

.text-heading-1 {
  font-size: 40px;
  line-height: 1.3
}

.text-heading-2 {
  font-size: 32px;
  line-height: 1.3
}

.text-heading-3 {
  font-size: 28px;
  line-height: 1.3
}

.text-heading-4 {
  font-size: 24px;
  line-height: 1.3
}

.text-heading-5 {
  font-size: 20px;
  line-height: 1.3
}

.text-heading-6 {
  font-size: 18px;
  line-height: 1.3
}

.text-para {
  font-size: 16px;
  line-height: 1.5
}

.text-small {
  font-size: 14px;
  line-height: 1.4
}

.text-x-small {
  font-size: 12px;
  line-height: 1.3
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.italic {
  font-style: italic
}

.\!leading-\[1\.3\] {
  line-height: 1.3!important
}

.leading-\[1\.3\] {
  line-height: 1.3
}

.leading-\[1\] {
  line-height: 1
}

.leading-\[normal\] {
  line-height: normal
}

.leading-none {
  line-height: 1
}

.leading-tight {
  line-height: 1.25
}

.tracking-wide {
  letter-spacing: .025em
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0/var(--tw-text-opacity))
}

.text-grey {
  --tw-text-opacity: 1;
  color: rgb(51 51 51/var(--tw-text-opacity))
}

.text-grey-dark {
  --tw-text-opacity: 1;
  color: rgb(102 102 102/var(--tw-text-opacity))
}

.text-grey-darkest {
  --tw-text-opacity: 1;
  color: rgb(51 63 72/var(--tw-text-opacity))
}

.text-grey-light {
  --tw-text-opacity: 1;
  color: rgb(204 204 204/var(--tw-text-opacity))
}

.text-ielts-red {
  --tw-text-opacity: 1;
  color: rgb(227 24 55/var(--tw-text-opacity))
}

.text-negative {
  --tw-text-opacity: 1;
  color: rgb(188 0 0/var(--tw-text-opacity))
}

.text-negative-dark {
  --tw-text-opacity: 1;
  color: rgb(128 1 1/var(--tw-text-opacity))
}

.text-neutral-900 {
  --tw-text-opacity: 1;
  color: rgb(23 23 23/var(--tw-text-opacity))
}

.text-positive-dark {
  --tw-text-opacity: 1;
  color: rgb(16 101 25/var(--tw-text-opacity))
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(70 100 220/var(--tw-text-opacity))
}

.text-primary-dark {
  --tw-text-opacity: 1;
  color: rgb(40 85 140/var(--tw-text-opacity))
}

.text-primary-petal {
  --tw-text-opacity: 1;
  color: rgb(8 116 231/var(--tw-text-opacity))
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(6 132 104/var(--tw-text-opacity))
}

.text-slate-500 {
  --tw-text-opacity: 1;
  color: rgb(100 116 139/var(--tw-text-opacity))
}

.text-slate-600 {
  --tw-text-opacity: 1;
  color: rgb(71 85 105/var(--tw-text-opacity))
}

.text-tertiary-dark {
  --tw-text-opacity: 1;
  color: rgb(203 79 10/var(--tw-text-opacity))
}

.text-tertiary-petal {
  --tw-text-opacity: 1;
  color: rgb(224 116 0/var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.no-underline {
  text-decoration-line: none
}

.opacity-0 {
  opacity: 0
}

.opacity-100 {
  opacity: 1
}

.opacity-25 {
  opacity: .25
}

.opacity-40 {
  opacity: .4
}

.opacity-50 {
  opacity: .5
}

.opacity-75 {
  opacity: .75
}

.opacity-80 {
  opacity: .8
}

.opacity-\[0\.7\] {
  opacity: .7
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color)
}

.shadow,.shadow-\[0_0_1px_rgb\(255\2c 255\2c 255\)\] {
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_0_1px_rgb\(255\2c 255\2c 255\)\] {
  --tw-shadow: 0 0 1px #fff;
  --tw-shadow-colored: 0 0 1px var(--tw-shadow-color)
}

.shadow-\[0_0_20px_rgba\(0\2c 0\2c 0\2c 0\.16\)\] {
  --tw-shadow: 0 0 20px rgba(0,0,0,.16);
  --tw-shadow-colored: 0 0 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-\[0_10px_10px_-15px_rgba\(0\2c 0\2c 0\2c 1\)\] {
  --tw-shadow: 0 10px 10px -15px #000;
  --tw-shadow-colored: 0 10px 10px -15px var(--tw-shadow-color)
}

.shadow-\[0_10px_10px_-15px_rgba\(0\2c 0\2c 0\2c 1\)\],.shadow-custom-10 {
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-custom-10 {
  --tw-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  --tw-shadow-colored: 0 0 10px 0 var(--tw-shadow-color)
}

.shadow-custom-15 {
  --tw-shadow: 0 5px 15px 0 rgba(0,0,0,.05);
  --tw-shadow-colored: 0 5px 15px 0 var(--tw-shadow-color)
}

.shadow-custom-15,.shadow-custom-30 {
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-custom-30 {
  --tw-shadow: 0 4px 30px 0 rgba(0,0,0,.1);
  --tw-shadow-colored: 0 4px 30px 0 var(--tw-shadow-color)
}

.shadow-custom-large {
  --tw-shadow: 0 4px 6px -4px rgba(16,24,40,.1),0 10px 15px -3px rgba(16,24,40,.1);
  --tw-shadow-colored: 0 4px 6px -4px var(--tw-shadow-color),0 10px 15px -3px var(--tw-shadow-color)
}

.shadow-custom-large,.shadow-custom-lg {
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-custom-lg {
  --tw-shadow: 0 0 15px -3px rgba(16,24,40,.1),0 4px 6px -4px rgba(16,24,40,.1);
  --tw-shadow-colored: 0 0 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color)
}

.shadow-custom-md {
  --tw-shadow: 0 0 6px -1px rgba(16,24,40,.1),0 2px 4px -2px rgba(16,24,40,.1);
  --tw-shadow-colored: 0 0 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)
}

.shadow-custom-md,.shadow-custom-sm {
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-custom-sm {
  --tw-shadow: 0 0 3px rgba(16,24,40,.1),0 1px 2px -1px rgba(16,24,40,.1);
  --tw-shadow-colored: 0 0 3px var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color)
}

.shadow-custom-x-sm {
  --tw-shadow: 0 0 2px rgba(16,24,40,.05);
  --tw-shadow-colored: 0 0 2px var(--tw-shadow-color)
}

.shadow-custom-x-sm,.shadow-lg {
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color)
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)
}

.shadow-md,.shadow-xl {
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color)
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.outline {
  outline-style: solid
}

.outline-2 {
  outline-width: 2px
}

.outline-primary {
  outline-color: #4664dc
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.transition {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s
}

.transition-\[top\2c opacity\2c right\] {
  transition-property: top,opacity,right;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s
}

.transition-top {
  transition-property: top;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s
}

.delay-150 {
  transition-delay: .15s
}

.duration-300 {
  transition-duration: .3s
}

.ease-in {
  transition-timing-function: cubic-bezier(.4,0,1,1)
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.ease-linear {
  transition-timing-function: linear
}

@font-face {
  font-family: Farro;
  src: url(/fonts/farro-bold.woff2) format("woff2"),url(/fonts/farro-bold.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: Inter;
  src: url(/fonts/inter-bold.woff2) format("woff2"),url(/fonts/inter-bold.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: Inter;
  src: url(/fonts/inter-semibold.woff2) format("woff2"),url(/fonts/inter-semibold.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600
}

@font-face {
  font-family: Inter;
  src: url(/fonts/inter-regular.woff2) format("woff2"),url(/fonts/inter-regular.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: Inter;
  src: url(/fonts/inter-light.woff2) format("woff2"),url(/fonts/inter-light.woff) format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 300
}

::-moz-selection {
  --tw-bg-opacity: 1;
  background-color: rgb(70 100 220/var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity))
}

::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(70 100 220/var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity))
}

body:has(.modal-open) {
  overflow: hidden!important
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  margin-bottom: 4px;
  font-family: Farro,sans-serif
}

@media (min-width: 960px) {
  .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
      margin-bottom:8px
  }
}

.h1,h1 {
  font-size: 28px;
  line-height: 1.3
}

@media (min-width: 960px) {
  .h1,h1 {
      font-size:40px;
      line-height: 1.3
  }
}

.h2,h2 {
  font-size: 20px;
  line-height: 1.3
}

@media (min-width: 960px) {
  .h2,h2 {
      font-size:32px;
      line-height: 1.3
  }
}

.h3,h3 {
  font-size: 18px;
  line-height: 1.3
}

@media (min-width: 960px) {
  .h3,h3 {
      font-size:24px;
      line-height: 1.3
  }
}

.h4,h4 {
  font-size: 16px;
  line-height: 1.5
}

@media (min-width: 960px) {
  .h4,h4 {
      font-size:20px;
      line-height: 1.3
  }
}

.h5,h5 {
  font-size: 14px;
  line-height: 1.4
}

@media (min-width: 960px) {
  .h5,h5 {
      font-size:16px;
      line-height: 1.5
  }
}

.h6,h6 {
  font-size: 14px;
  line-height: 1.4
}

@keyframes favoriteOn {
  0% {
      transform: scale(.9)
  }

  14.2% {
      transform: scale(.8)
  }

  28.4% {
      transform: scale(.7)
  }

  42.6% {
      transform: scale(.8)
  }

  56.8% {
      transform: scale(.9)
  }

  71% {
      transform: scale(1)
  }

  85.2% {
      transform: scale(1.2)
  }

  to {
      transform: scale(1)
  }
}

@keyframes favoriteOff {
  0% {
      transform: scale(.9)
  }

  14.2% {
      transform: scale(.8)
  }

  28.4% {
      transform: scale(.7)
  }

  42.6% {
      transform: scale(.8)
  }

  56.8% {
      transform: scale(.9)
  }

  71% {
      transform: scale(1)
  }

  85.2% {
      transform: scale(1.2)
  }

  to {
      transform: scale(1)
  }
}
